.result-modal {
    width: 90%;
    max-width: 500px;
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.image-container {
    text-align: center;
    /* border: 2px solid red; */
    width: 20%;
    height: 100px;
    margin:auto;
    margin-bottom: 40px;
}

.image-container:hover {
    cursor: pointer;
}

.result-title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.result-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.result-user-post {
    width: 100%;
    margin-bottom: 15px;
    color: #34495e;
    font-style: italic;
    text-align: center;
}

.section-one,
.section-two{
    min-width: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.section-three {
    font-weight: bold;
}

.result-description {
    font-weight: bold;
    color: #5271ff;
    margin-bottom: 5px;
}

.result-information {
    color: #333;
}

.bravos-count {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e74c3c;
}


.return-button {
    background-color: #5271ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #0056b3;
}



.comments-section {
    margin-top: 20px;
}

.bravo-button:disabled {
    background-color: #43cf43;
    cursor: not-allowed;
}

.result-image {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    object-fit: cover;
}

.bravo-icon {
    font-size: 40px;
    cursor: pointer;
    color: #5271ff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.bravo-icon:hover {
    color: #2ad25c;
    transform: scale(1.2);
}

.bravo-disabled {
    color: #bdc3c7;
    cursor: not-allowed;
}

.bravo-disabled:hover {
    color: #AAA;
    transform: none;
}

.bravo-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.result-background {
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
    height: 1500px;
}
