.leaderboard-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.leaderboard-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px; 
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-items: end; 
    /* display: flex; */
    align-items: center;
    transition: background-color 0.3s ease;
}

.result-card:hover {
    background-color: #b2b2b2;
    cursor: pointer;
}

.result-name, .result-distance, .result-duration, .result-pace {
    text-align: center;
}

.result-card.header {
    box-shadow: none;
    background-color: transparent;
    font-weight: bold;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.result-delete-button {
    background: #5271ff;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .nav-challenge-button:hover {
    background-color: #3c5be8;
  }


