/* NAVIGATION */

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  display: flex;
  /* border: 4px solid #333; */
  background-color: white;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #333; */
  box-shadow: 0 2px 4px rgba(57, 57, 57, 0.2);
}

.left-items, .right-items {
  display: flex;
  align-items: center;
  /* border: 4px solid #333; */
}

.left-items {
  /* display: flex; */
  /* align-items: center; */
  padding: 20px;
  justify-content: flex-start;
}

.right-items {
  /* display: flex; */
  padding: 20px;
}

.logo {
  width: auto;
  height: 40px;
}

.nav-challenge-button {
  background: #5271ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.nav-challenge-button:hover {
  background-color: #3c5be8;
}


/* PROFILE BUTTON */

.profile-button-container {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  right: 0;
}
