/* NAVIGATION */

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  display: flex;
  /* border: 4px solid #333; */
  background-color: white;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #333; */
  box-shadow: 0 2px 4px rgba(57, 57, 57, 0.2);
}

.left-items, .right-items {
  display: flex;
  align-items: center;
  /* border: 4px solid #333; */
}

.left-items {
  /* display: flex; */
  /* align-items: center; */
  padding: 20px;
  justify-content: flex-start;
}

.right-items {
  /* display: flex; */
  padding: 20px;
}

.logo {
  width: auto;
  height: 40px;
}

.nav-challenge-button {
  background: #5271ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.nav-challenge-button:hover {
  background-color: #3c5be8;
}


.profile-button-container {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  /* border: 2px solid #333; */
}

.profile-button-container {
  position: relative;
  display: inline-block;
}


.profile-button {
  background-color: #f3f3f3;
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}


.profile-button i.fas {
  font-size: 24px;
  color: #666;
}

.logged-in-container {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  list-style-type: none; 
  margin: 0;
}


.logged-in-container li {
  padding: 10px 15px;
  color: #333;
  /* cursor: pointer; */
}

.dropdown-item-profile {
  cursor: pointer;
}

.dropdown-item-profile > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #333;
  /* border: 2px solid red; */
  padding: 10px 0px 10px 0px;
  color: #333;
  text-decoration: none;
}

.dropdown-item-profile:hover {
  background-color: #f6f6f6; 
}

.log-out {
  cursor: default;
}

.logoutButton {
  cursor: pointer;
}

.logged-in-container li:hover {
  background-color: #f6f6f6;
}


.logged-in-container .user-greeting {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.logged-in-container .user-greeting:hover, .logged-in-container .log-out:hover  {
  background-color: inherit;
}


.log-out button {
  width: 100%;
  background-color: #db4b4b;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.log-out button:hover {
  background-color: #c83d3d;
}

.logged-in-container a {
  text-decoration: none;
  color: #333;
}

textarea {
  resize: none;
  height: 75px;
}
