.challenge-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.challenge-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 5px;
}

.challenge-description {
    color: #666;
    margin: 15px 0;
}

.challenge-dates {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.add-result-button {
    background: #5271ff;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
